<body style="background-color:lightgrey">
<div class="container p-3 my-3 border">

<%= form_for(@semester) do |f| %>
  <% if @semester.errors.any? %>
    <% @semester.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
   <% end %>
    </ul>
  <% end %>
 <div class="field">
    <%= f.label :sem_no %><br />
    <%= f.number_field :sem_id %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name ,required: true%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
</div>
<% end %>
