
<%= form_for @students do |f| %>
    <div>
        Name <br>
              <%= f.text_field :name %>
    </div><br>
        <div>
            Age<br>  
                <%= f.number_field :age %>
    </div><br>
        <div>
            Address<br>
                <%= f.text_field :address %>
    </div><br>
         <div>
            Percentage <br>
                <%= f.number_field :percentage %>
    </div><br>
          <div>
                <%= f.submit "Create"%>
    </div>
<% end %>